.tablebg {
    background-color: rgba(244, 244, 244, 0.9);
    border: 2px solid white;
    padding: 10px;
    padding-top: 0px;
}

.bgclr1 {
    background-color: rgb(216, 215, 215);
}

.tablebg th {
    border-bottom: 2px solid rgb(216, 215, 215);
}

/* .tablebg input{
    background-color: transparent;
    outline: 2px solid transparent;
    outline-offset: 2px;

} */
.tablebg th,
td {
    padding: 10px;
    text-align: center;
    vertical-align: top;

}
.bgblur{
    backdrop-filter: blur(10px);
    background-color: white;
}